accelerate
fastapi
matplotlib
numpy
openpyxl
pandas
prophet
PyPDF2
python-multipart
requests
scikit-learn
sentence-transformers
shap
spacy
statsmodels
streamlit
tensorflow
tensorboard
torch
transformers
uvicorn
